version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: daily
    groups:
      eslint:
        patterns:
          - "eslint"
          - "eslint-*"
      react:
        patterns:
          - "react"
          - "react-*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
