version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: daily
    groups:
      eslint:
        patterns:
          - "eslint"
          - "eslint-*"
          - "*-eslint"
          - "@eslint/*"
      react:
        patterns:
          - "react"
          - "react-*"
      vite:
        patterns:
          - "vite"
          - "vite-*"
          - "@vitejs/*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
